*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#allcards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#pagination{
    display: flex;
    justify-content: center;
    align-items: center;
}